
$font-stack: "Roboto", sans-serif;
$accent-color: #2B7A78;
$body-color: #17252A;
$background-color: #3AAFA9;
$header: #FEFFFF;
$accent-header: #DEF2F1;
$accent-header-pressed: #a2c2c0;
$background-color-pressed: #217874;

html,body, h1,h2,h3,h4,h6, {font-family: "Roboto", sans-serif}

body {
  font-size: 16px !important;
}

footer {
  background-color: $accent-header
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-bottom: .5rem;
    font-weight: 500;
    line-height: 1.2;
    color: inherit
}

.h1, h1 {
    color: $accent-header !important;
    text-align: center;
    font-size: 2.5rem
}

.h2, h2 {
    color: $background-color-pressed !important;
    font-size: 2rem
}

.h3, h3 {
    color: $accent-header !important;
    text-align: center;
    font-size: 1.75rem
}

.h4, h4 {
    font-size: 1.5rem;
    text-align: center;
    color: $background-color !important;
}

.h5, h5 {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif !important;
    font-weight: 300 !important;
    font-size: 21px !important;
}

.h6, h6 {
    font-size: 1rem
}


.profilePicture {
  //margin-top: 2%;
  display: block;
  //position: absolute;
  left: 0px;
  //margin-left: 38%;
  top: 0px;
  width: 100%;
  height: auto;
  margin-bottom: 5%;
  border-radius: 50%;
}

.profileLogo {
  //margin-top: 23%;
  //margin-left: 34%;
  display: block;
  position: relative;
  left: 0px;
  top: -100px;
  width: 100%;
  height: auto;
}

.nav-color {
	background-color: $accent-header;
	box-shadow: 0px 2px 4px;
}

.navbar-brand{
  float: left;
  height: 50px;
  padding: 15px 15px;
  font-size: 18px;
  line-height: 20px
}

.navbar-fixed-top .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    background-color: $accent-header-pressed;
    color: $background-color-pressed;
}

.nav.navbar-nav li a {
    color: $background-color;
}


body {
  padding-top: 50px;
}

.page-background{
	background: $body-color;
}

.elevated-section{
  margin-top: 0px;
	background: $background-color;
	box-shadow: 4px 2px 4px;
}


.not-elevated-section{
  margin-top: 2em;
	box-shadow: 4px 2px 4px;
}

.not-elevated-section p{
  color: $accent-header;
}

.divider {
  position: relative;
  border-bottom: 1px solid #f0f0f0;
  margin-bottom: 30px;
  margin-top: 30px;
  margin-left: 30%;
  margin-right: 30%;
}

.divider:before {
  position: absolute;
  content: '';
  width: 30px;
  height: 30px;
  border: 1px solid #f0f0f0;
  left: 50%;
  margin-left: -15px;
  top: 50%;
  background: #fff;
  margin-top: -15px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.divider:after {
  position: absolute;
  content: '';
  width: 20px;
  height: 20px;
  border: 1px solid #2ca5b9;
  left: 50%;
  margin-left: -10px;
  top: 50%;
  background: #2ca5b9;
  margin-top: -10px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.btn-social {
  display: inline-block;
  height: 50px;
  width: 50px;
  border: 2px solid white;
  border-radius: 100%;
  text-align: center;
  font-size: 20px;
  line-height: 45px;
}

.btn-outline {
  color: $background-color-pressed;
  font-size: 20px;
  border: solid 2px $background-color-pressed;
  background: transparent;
  transition: all 0.3s ease-in-out;
  margin-top: 15px;
}

.btn-outline:hover,
.btn-outline:focus,
.btn-outline:active,
.btn-outline.active {
  color: white;
  background: $background-color-pressed;
  border: solid 2px $background-color-pressed;
}

i {
    margin-top: 13px;
    margin-left: 1px;
    font-size: 30px;
    height: 30px;
    vertical-align: middle;
}

a,
a:hover,
a:focus,
a:active,
a.active {
  color: $accent-color ;
  outline: none;
}

section {
    padding: 75px 0;
}


caption {
    padding-top: .75rem;
    padding-bottom: .75rem;
    color: #868e96;
    text-align: left;
    caption-side: bottom
}

  .portfolio-item {
    right: 0;
    margin: 0 0 15px;
    .portfolio-link {
      position: relative;
      display: block;
      max-width: 400px;
      margin: 0 auto;
      cursor: pointer;
      .caption {
        position: absolute;
        width: 100%;
        height: 100%;
        -webkit-transition: all ease 0.5s;
        -moz-transition: all ease 0.5s;
        transition: all ease 0.5s;
        opacity: 0;
        background: fade-out($background-color-pressed, .1);
        &:hover {
          opacity: 1;
        }
        .caption-content {
          font-size: 20px;
          position: absolute;
          top: 50%;
          width: 100%;
          height: 20px;
          margin-top: -12px;
          text-align: center;
          color: white;
          i {
            margin-top: -12px;
          }
          h3,
          h4 {
            margin: 0;
          }
        }
      }
    }
  }

.img-fluid, .img-thumbnail {
    max-width: 100%;
    height: auto;
}

.img-portfolio {
  margin-top: 1em;
  margin-bottom: 1em;
}

.img-portfolioAbout {
    box-shadow: 0px 2px 4px;
    margin-top: 1em;
    margin-bottom: 1em;
}

.img-profile {
  box-shadow: 0px 2px 4px;
  border-radius: 50%;
  margin-top: 1em;
  margin-bottom: .5em;
}

.img-thumbnail {
    padding: .25rem;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: .25rem;
    transition: all .2s ease-in-out
}

//.centered {
//    position: absolute;
//    top: 50%;
//    left: 50%;
//    transform: translate(-50%, -50%);
//}

#thumbnails p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
visibility:hidden;
}

.profileDiv {
  position: relative;
  display: block;
  left: 50%;
  width: 300px;
  height: 350px;
  margin-left: -150px;
  margin-top: 50px;

}

ul {
    list-style-position: inside;
}
